#body-div{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgb(248, 88, 235);
    height: 100%;
    width: 100%;

}


#card-main{
    background-color: rgb(25, 98, 243);
    margin: 5% 5%;
    padding:2% 6%;
    border-radius: 5px;
    box-shadow: 5px 3px 4px 3px #888888;
    height: 65vh;
    width: 40vw;
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   
}

#info-section{

    text-decoration: none;
    color: aliceblue;
    height: 60px;
    min-width: 60px;
    
}